ul.nav.nav-tabs.nav-stacked.index
  li(class="#{ current.path[0]=='support'?'active':'' }"): a(href="/chapter1.html") Why release open data?	
  li(class="#{ current.path[0]=='support'?'active':'' }"): a(href="/chapter2.html") Identifying data sets for public release
  li(class="#{ current.path[0]=='support'?'active':'' }"): a(href="/chapter3.html") Reviewing data for completeness and accuracy
  li(class="#{ current.path[0]=='support'?'active':'' }"): a(href="/chapter4.html") Conducting an internal data review
  li(class="#{ current.path[0]=='support'?'active':'' }"): a(href="/chapter5.html") Adding Descriptive Metadata
  li(class="#{ current.path[0]=='support'?'active':'' }"): a(href="/chapter6.html") Adding a License & Terms of Use
  li(class="#{ current.path[0]=='support'?'active':'' }"): a(href="/chapter7.html") Publishing data for the world to use
  li(class="#{ current.path[0]=='support'?'active':'' }"): a(href="/chapter8.html") Engaging users in the data community
  li(class="#{ current.path[0]=='support'?'active':'' }"): a(href="/case1.html") Case Study: Crime Data
  li(class="#{ current.path[0]=='support'?'active':'' }"): a(href="/case1.html") Case Study: Property Tax Data